<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/components/Products/products.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="product-card">
      <div class="sale-label">Sale 50%</div>
      <img
        src="/public/images/grüneApfel.png"
        alt="Green Apple"
        class="product-image"
      />
      <div class="product-info-wrapper">
        <div class="product-info">
          <p class="product-name">Green Apple</p>
          <h3 class="product-price">
            <span class="current-price">$14.99</span>
            <span class="original-price">$20.99</span>
          </h3>
          <div class="product-rating">★★★★☆</div>
        </div>

        <button class="product-icon">
          <img src="/public/images/Bag.svg" alt="Lock Icon" />
        </button>
      </div>
    </div>
  </body>
</html>
