.features-wrapper {
  display: flex;
  justify-content: center;
}

.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
  max-width: 1320px;
  width: 100%;
  /*height: 100px;*/
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 8px;

  background: #fff;
}
/* Dış kutuya hover efekti */
.features:hover {
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.18);
  transform: translateY(-2px);
}

.feature-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  max-width: 306px;
  height: auto;
  cursor: pointer; /* Maus ucu el olur */
}

.feature-box img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  transition: transform 0.3s ease; /* yumuşak geçiş */
}
.feature-box:hover img {
  transform: scale(1.1); /* sabit büyüme */
}
.feature-box-container {
  max-width: 250px;
  height: 48px;
}

.feature-box-container h3 {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 120%;
  color: #1a1a1a;
  font-weight: 600;
  font-size: clamp(14px, 2vw, 18px); /* min, tercih edilen, max */
}

.feature-box-container p {
  margin: 0.5rem 0 0;
  font-size: 14px;
  color: #999;
  font-size: clamp(12px, 1.5vw, 16px);
  font-family: sans-serif;
  font-weight: 400;
}
/* Responsive: Tablet */
@media (max-width: 768px) {
  .features {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
  }
}

/* Responsive: Mobile */
@media (max-width: 480px) {
  .feature-box {
    flex-direction: column; /* ikon üstte, yazı altta */
    text-align: center;
  }

  .feature-box img {
    margin-bottom: 0.5rem;
  }
}
