<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./features.css" />
  </head>
  <body>
    <div class="features-wrapper">
      <section class="features">
        <div class="feature-box">
          <img src="/images/delivery-truck-1.svg" alt="" />
          <div class="feature-box-container">
            <h3>Free Shipping</h3>
            <p>Free shipping on all your order</p>
          </div>
        </div>

        <div class="feature-box">
          <img src="/images/heads.svg" alt="" />
          <div class="feature-box-container">
            <h3>Customer Support 24/7</h3>
            <p>Instant access to Support</p>
          </div>
        </div>

        <div class="feature-box">
          <img src="images/shopping-bag.svg" alt="" />
          <div class="feature-box-container">
            <h3>100% Secure Payment</h3>
            <p>We ensure your money is safe</p>
          </div>
        </div>

        <div class="feature-box">
          <img src="/images/package.svg" alt="" />
          <div class="feature-box-container">
            <h3>Money-Back Guarantee</h3>
            <p>30 Days Money-Back Guarantee</p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
