/**
 * Colors
 * sample: $Titanium-White: #fafafa;
 * /

/** Font Familly
 * sample: $primary-font: var(--primary-font);
 */

/** Screen Breakpoints
 * sample: $desktop-2xl: pxToRem(1920);
*/

/** font-sizes
 * sample $font-m: pxToRem(18);
 */

/**
 * font-weight
 * sample $font-regular: 400; 
 */

//  Color
$White-color: #ffffff;
$Gray-scale: #e6e6e6;
$Light-bg-color: #f8f8f8;
$Light-gray-border: #e0e0e0;
$Text-dark-color: #1a1a1a;
$Success-dark-border: #2c742f;
$Category-card-shadow: #20b52652;
$Category-view-all-btn: #00b207;
$Testimonials-text-color: #4d4d4d;
$Gray-scale-dark: rgba(128, 128, 128, 1);
$dark-gray: rgba(77, 77, 77, 1);
$Text-dark-color: #1a1a1a;
$Success-dark-border: #2c742f;
$Category-card-shadow: #20b52652;
$Category-view-all-btn: #00b207;
// Font Family
$Body-large-poppins: "Poppins";

// width
$Container-max-width: 1320px;
$Category-card-max-width: 200px;
$Testimonials-card-width: 424px;
