@use "/src/styles/variables" as *;
@use "/src/styles/functions" as *;

.filterAside {
    max-width: 312px;
    color: #1A1A1A;
}

.dropdown {
    display: flex;
    flex-direction: column;

    &Header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: pxToRem(20);
        cursor: pointer;

        * {
            pointer-events: none;
            user-select: none;
        }

        &Title {
            font-family: $Body-large-poppins;
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            letter-spacing: 0%;
        }

        &Arrow {
            transition: transform 150ms linear;
        }

    }

    &List {
        display: flex;
        flex-direction: column;
        height: fit-content;
        transition: height 150ms linear, opacity 150ms linear;

    }

}

.dropdownClosed {
    .dropdownList {
        opacity: 0;
        visibility: hidden;
    }

    .dropdownHeaderArrow {
        transform: rotate(180deg);
    }
}