@use "@/styles/_variables.scss" as *;
@use "@/styles/_functions.scss" as *;

.test {
    padding-block: pxToRem(60);
    background: $Light-bg-color;

    &Content {
        display: flex;
        gap: pxToRem(32);
        margin-inline: auto;
        flex-direction: column;
        width: $Container-max-width;
    }

    &HeaderWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &Title {
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0%;
        font-size: pxToRem(32);
        font-family: $Body-large-poppins;
    }

    &SliderBtnWrapper {
        display: flex;
        gap: pxToRem(12);
    }

    &SliderBtn {
        width: 45px;
        height: 45px;
        border: none;
        display: flex;
        cursor: pointer;
        align-items: center;
        border-radius: 45px;
        justify-content: center;

        &:nth-child(1) {
            background: #fff;
        }

        &:nth-child(2) {
            background: #00B207;
        }

        * {
            pointer-events: none;
        }

    }

    &CardWrapper {
        width: 100%;
        display: flex;
        overflow: hidden;
    }

    &GroupWrapper {
        min-width: 100%;
        height: 100%;
        display: flex;
        gap: pxToRem(24);
        transition: all 400ms linear;
        transform: translateX(0);
    }

}