@use "../../styles/reset" as *;
@use "../../styles/variables" as *;

.container {
  display: flex;
  gap: 24px;
  margin: 20px auto;
  max-width: 1320px;
  width: 90%;

  @media (max-width: 992px) {
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;

    .box {
      width: 100%;
      height: 450px;
      padding: 40px 20px;

      h1 {
        font-size: 32px;
      }
      h5,
      p {
        font-size: 14px;
      }

      .countdownContainer {
        .timeValue {
          font-size: 2em;
        }
        .separator {
          font-size: 1.5em;
        }
      }

      &.blueBackground::before {
        transform: none;
        background-size: auto 200%;
      }
      &.blackBackground::before {
        background-size: auto 200%;
        background-position: 50% 30%;
      }
      &.yellowBackground::before {
        background-size: cover;
      }
    }
  }
}

.box {
  flex: 1 1 300px;
  height: 540px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px 20px 20px;

  & > * {
    z-index: 1;
    position: relative;
  }

  h5 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
    text-transform: capitalize;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    margin: 30px;
  }

  .button {
    button {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: 15px;
    }
  }

  .countdownContainer {
    margin-top: 10px;
    padding: 10px 0;
    width: fit-content;
    display: flex;

    .timerBox {
      text-align: center;
      margin: 0 10px;
    }
    .timeValue {
      font-size: 1.5em;
      font-weight: 300;
      letter-spacing: 0.05em;
      margin-bottom: 0;
      line-height: 1;
    }
    .timeLabel {
      font-size: 0.6em;
      font-weight: 500;
      letter-spacing: 0.1em;
      opacity: 0.8;
      margin-top: 5px;
    }
    .separator {
      font-size: 1.5em;
      align-self: center;
      margin: 0 5px;
      opacity: 0.7;
      font-weight: 300;
    }
  }
}

.blueBackground {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(/src/images/offerBannerCardsImages/vegetable.jpg);
    background-repeat: no-repeat;
    z-index: 0;
    transform: rotate(-90deg) scale(1.3);
    background-size: auto 100%;
    background-position: 30% 17%;

    @media (max-width: 1450px) {
      transform: rotate(-90deg) scale(2);
    }
  }
}

.blackBackground {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/src/images/offerBannerCardsImages/meat.jpg");
    background-repeat: no-repeat;
    z-index: 0;
    background-size: auto 150%;
    background-position: 50% 10%;
  }
  p span {
    color: #ff8a00;
  }
}

.yellowBackground {
  position: relative;
  color: black;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/src/images/offerBannerCardsImages/fruit.jpg");
    background-repeat: no-repeat;
    z-index: 0;
    background-size: auto 240%;
    background-position: 3% 45%;
  }

  p {
    color: $Text-dark-color;
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    line-height: 1.2;
    span {
      background-color: $Text-dark-color;
      color: #fcc900;
      padding: 6px 12px;
      border-radius: 4px;
      font-weight: bold;
    }
  }
}
